{%  extends "base.html" %}


{% block content %}
  <h1>Drivers</h1>
  <table class="table">
    <thead>
      <tr>
        <th>first_name</th>
        <th>last_name</th>
        <th>license_number</th>

      </tr>
    </thead>
    <tbody>
      {% if driver_list %}
        {% for driver in driver_list %}
          <tr>
            <td>
              <a href="{% url 'taxi:driver-detail' pk=driver.id %}">{{ driver.first_name }}</a>
            </td>
            <td>{{ driver.last_name }}</td>
            <td>{{ driver.license_number }}</td>

          </tr>
        {% endfor %}
      {% endif %}
    </tbody>
  </table>
  {% include "includes/pagination.html" %}
{% endblock %}
